@media only screen and (min-width : 650px) {
  h1 {
    display: none;
  }
}

.logo-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width : 990px) {
  .logo {
    display:none;
  }
}

a:hover {
    color: red;
    text-decoration: none;

}

.main-image {
  position:relative;

}

.YY1 {
  position:absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  z-index: 1;
}

.YY2 {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  z-index: 1;
}

#question{
  padding-top: 100px;
  font-family: arial;
  font-size: 300%
}
#Yao{
  font-family: arial;
  font-size: 400%;
  text-align: right;
  font-weight: bold;

}

.icon{
  float: left;
  width: 45px;
    margin: auto;
      padding-top: 10px;


}
.icon_email{
  float: left;
  margin: auto;
  width: 47px;
  padding-top: 5px;

}
@media only screen and (min-width : 990px) {
  .YY1 {
    display:none;
  }
  .YY2 {
    display:none;
  }
}

@media only screen and (max-width : 650px) {
  .iama {
    display:none;
  }

  .button {
    display:none;
  }

  h1 {
    position: absolute;
    bottom: 30%;
    left: 30%;
    width: 300px;
    font-size: 170%;
    color: #975595;
  }
}



h3 {
  font-family: "Poiret One";
}

body {
  border: 2px dotted #b5b5ad;
  margin: 20px;

}

#div1 {
  display: "none";
}

.iama {
    position: absolute;
    bottom: 30%;
    left: 30%;
    width: 300px;
    font-size: 170%;
    display: none;

}

.button {
    position: absolute;
    bottom: 55%;
    left: 30%;
    width: 280px;
    font-size: 130%;
    border-radius: 25px;
    font-family: monospace;
}

.footer {
    color: #999393 ;
}

.coder {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 15px;
  color: #7e06ff;
  padding-bottom: 5px;
}

.coder:hover {
  color: white;
  background-color: #7e06ff;
}

.student{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 15px;
  color: #4a9e38;
  padding-bottom: 5px;
  margin-top: 20px;
}

.student:hover {
  color:white;
  background-color: #4a9e38;
}

.apprentice {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 15px;
  color: #ff00d7;
  padding-bottom: 5px;
  margin-top: 20px;
}

.apprentice:hover {
  color:white;
  background-color: #ff00d7;
}

.entrepreneur {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 15px;
  color: #ff7605;
  padding-bottom: 5px;
    margin-top: 20px;
}

.entrepreneur:hover {
  color:white;
  background-color: #ff7605;
}

.img-center {
  margin: 0 auto;
  width: 80%;
}